<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <a href="https://github.com/Khalifa5000" target="_blank"><i class="fab fa-github"></i> </a>
        <a href="https://www.linkedin.com/in/mohamed-khalifa-b5375623a/" target="_blank"><i class="fab fa-linkedin"> </i></a>
        <a href="https://www.facebook.com/profile.php?id=100008344484144" target="_blank"><i class="fab fa-facebook"> </i></a>
       <a href="https://www.instagram.com/mohamed_khalifa5000/" target="_blank"><i class="fab fa-instagram"> </i></a>
        <span> Designed and developed by Mohamed Khalkifa 🧡</span>
    </div>
</body>
</html>